@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fredoka+One&family=Poor+Story&family=Rubik+Mono+One&family=Signika:wght@500&display=swap');

body {
  margin: 0;

}


body::-webkit-scrollbar {
  width: 18px;               /* Largura do area do scroll bar */
}
body::-webkit-scrollbar-track {
  background:rgb(250, 223, 200);    /* cor do fundo do scroll */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(5, 175, 119);    /* cor da barra do scroll */
  border-radius: 5px;            
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(5, 175, 119, 0.8);    /* color of the scroll thumb */
  border-radius: 5px;      
}
.header {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: rgb(1, 217, 145);
}

.container {
  margin: auto;
  width: 88%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .Logo {
  font-family: 'Acme', sans-serif;
  display: flex;
  align-items: center;
  text-shadow: 6px 5px 4px rgba(0,0,0,0.7);
  }


.container .Logo img {
  width: 30px;
  height: 30px;
}

.container .Logo h1{
  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 32px;
  width: fit-content;
  font-weight: 200;
}

.container .navbar {
  color:#ffffff;
  font-family: 'Signika', sans-serif;
  font-size: 22px ;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-shadow: 4px 3px 3px rgba(0,0,0,0.7);
}

.header a {
  text-decoration: none;
  color: white;
}

.agora {
  font-weight: 800;
  color: white;
}

/* Seção de Tracks */

.Musica{
  margin-bottom: 50px;
}

.Musica .container {
  display: flex;
  justify-content: center;
}

.info-track {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.img-nome{
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: left;
}

.img-nome img{
  height: 70px;
  width: 70px;
  border-radius: 100px;
}


.img-nome h2 {
  font-family: 'Signika', sans-serif;
  align-self: flex-end;
  margin-left: 5px;
  margin-block-end: 0;
  margin-block-start: 0;
}

.img-nome select{
  border-radius: 20px;
  height: 40px;
  background-color: antiquewhite;
  text-align: center;
  font-family: 'Signika', sans-serif;
  }

.musicas-btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.musicas-btn button {
  margin-left: 10px;
  border-radius: 20px;
  border-color: 2px solid black;
  font-family: 'Signika', sans-serif;
  font-size: 22px;

}

.song1 {
  background-color: yellow;
}

.song2 {
  background-color: aqua;
}

.song3 {
  background-color: plum;
}

.song4 {
  background-color: rgb(243, 22, 158);
}

.Tocador {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-top: 40px;

}

.Tocador audio {
  width: 600px;
}

.Tocador img {
  width: 32px;
  height: 32px;
  align-self: center;
  margin-left: 5px;
}
/* Letras */

.Letras {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 70px;
}

.Letras .titulo{
  font-size: 33px;  
  font-family: 'Signika', sans-serif;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 700;
  text-align: right;
}

.Letras .titulo2{
  font-size: 33px;  
  font-family: 'Signika', sans-serif;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 700;
  text-align: left;
}

.Letras span{
  margin-bottom: 30px;
  font-size: 20px;
  font-family: 'Signika', sans-serif;
}

.card-esqrd {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-right: 50px;
  text-align: right;
}
  
.linha-vertical{
    height: auto; 
    box-sizing: border-box; 
    border-left: 2px solid black;
}
  
.card-direito {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 50px;
    margin-bottom: 30px;
    text-align: left;
}

.metrica{
  display: flex;
  background-color: gainsboro;
}

.metrica .container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.card-mtr {
  display: flex;
  background-color: beige;
  border-radius: 20px;
  border-bottom: solid black 10px;
  border-right: solid black 10px;
  padding: 50px;
  width: 600px;
  height: 300px;
  align-items: center;
  justify-content: center;
}

.card-mtr img{
  height: 220px;
  width: 220px;
  border-radius: 20px;
  border: 3px solid white;
}

.card-mtr span {
  margin-left: 30px;
  font-size: 33px;
  font-family: 'Signika', sans-serif;
  text-align: left;
  letter-spacing: 0.3;
}

/* FOOTER */

.footer {
  display: flex;
  font-size: 15px;
  height: 150px;
  color: #fff;
  background-color: rgb(179, 115, 63);
}

.footer .container {
  display: flex;
  flex-direction: column;
}

.container .contato {
  display: flex;
  justify-content: center;
  width: 160px;
}

.informações {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.messagem {
  display: flex;
  flex-direction: column;
}

.contato img{
  align-self: center;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  filter:drop-shadow(4px 6px 5px rgba(0,0,0,0.7));
}
.contato a{
  align-self: center;
}

#img-su{
  width: 230px;
  height: 100px;
  filter:drop-shadow(4px 6px 5px rgba(0,0,0,0.7));
}